* {
  margin: 0;
  padding: 0;
}
#wrap {
  position: relative;
  width: 300px;
  height: 400px;
  border: 1px solid salmon;
  margin: 0 auto;
}
#wrap .inner1 {
  margin: 0 auto;
  margin: auto;
  background-color: #f10566;
  height: 50px;
  width: 50px;
  border: #0000ff 1px solid;
}
#wrap .inner1:hover {
  background-color: #F00fff;
}
#wrap .inner2 {
  margin: 0 auto;
  margin: auto;
  background-color: #000;
  height: 50px;
  width: 50px;
  border: #0000ff 1px solid;
}
