#wrap {
  position: relative;
  width: 960px;
  height: 600px;
  border: 1px solid salmon;
  margin: 0 auto;
}
#wrap .inner1 {
  margin: 100px auto;
  width: 200px;
  height: 200px;
  background-color: #ff0;
}
